{{#if logged_in}}
  <section class='postSection'>
    <button type='submit' class='btn' id='dasboardBtn'>Create a new post</button>
  </section>
{{else}}
  <a id='logInLink' href='/login' class='text-blue-500'>Please log in first</a>
{{/if}}