<div class='border-4 border-blue-300 bg-gray-200'>
  <div class='container'>
    <h2 class='bg-blue-300 p-2 text-white font-bold text-xl'>
      Sign Up
    </h2>
  </div>

  <div class='container h-full flex flex-col'>
    <form class='container form signup-form flex flex-col m-auto p-2'>

      <div class='form-group my-2 flex flex-col'>
        <label for='user-signup'>Username:</label>
        <input
          class='w-full h-10 form-input'
          id='user-signup'
          type='text'
          placeholder='username'
        />
      </div>

      <div class='form-group my-2 flex flex-col'>
        <label for='password-signup'>Password:</label>
        <input
          class='w-auto h-10 form-input'
          type='password'
          id='password-signup'
          placeholder='password'
        />
      </div>

      <div class='form-group flex justify-center items-center'>
        <input
          class='bg-gray-500 w-4/6 rounded-xl p-2 text-white mt-6 cursor-pointer hover:bg-gray-700 active:bg-gray-800'
          type='submit'
          value='Sign Up'
          id='signupBtn'
        />
      </div>

    </form>

    <div class='m-2 align-left'>
      <a id='signUpLink' href='/login' class='text-blue-500'>Log in instead</a>
    </div>
  </div>
</div>

<script src='./js/signup.js'></script>